@import "../../../styles/variable.scss";
.first_section {
  height: 900px;
  width: 100%;
  // background-color: yellow;
}
.subsection1 {
  height: 350px;
  width: 100%;
  // background-color: green;
}
.subsection2 {
  height: 350px;
  width: 100%;
  // background-color: red;
  position: absolute;
  top: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.CardGrid {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.Analysis_div {
  width: 30%;
  height: 100px;
  background-color: $primary-color;
}
.type {
  font-size: 60;
  color: red;
  justify-content: center;
}
.second_section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.Analysis {
  // padding: 2%;
  width: 100%;
  margin-top: 3%;
  align-items: center;
  justify-content: center;
  // height: 300px;
}
.AnalysisCard {
  display: flex;
  flex-direction: row;
  width: 80%;

  padding: 2%;
  margin: auto;
  box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.5);
  // height: 280px;
  // justify-content: space-around;
  justify-content: space-evenly;
}
.AnalysisInfo {
  // width: 100%;
  height: 100%;
}
.AnalysisContent_Div {
  width: 50%;
  // align-items: center;
  align-self: center;
}
.line1 {
  font-size: 40px;
  font-weight: 800;
  color: $heading-color;
  height: 60px;
  font-family: "Abhaya Libre", serif;
}
.line2 {
  font-size: 34px;
  font-weight: 800;
  height: 60px;
  font-family: "Abhaya Libre", serif;
}
.line3 {
  font-size: 30px;
  font-weight: 600;
  word-wrap: break-word;
  width: 80%;
  margin-left: 8%;
  font-family: "Abhaya Libre", serif;
}
.AddCard_Div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3%;
}
