@import "../../../styles/variable.scss";
.first_section {
  height: 700px;
  width: 100%;
  // background-color: yellow;
}
.subsection1 {
  height: 350px;
  width: 100%;
  // background-color: green;
}
.subsection2 {
  height: 350px;
  width: 100%;
  // background-color: red;
  position: absolute;
  top: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.CardGrid {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.Analysis_div {
  width: 30%;
  height: 100px;
  background-color: $primary-color;
}
.type {
  font-size: 60;
  color: red;
  justify-content: center;
}
// .cardSection {
//   width: 25%;
//   height: 350px;
//   background-color: #fff;
//   text-align: center;
//   align-items: center;
//   cursor: pointer;
//   transition: 2s;
// }
// .cardSection:hover {
//   background-color: $heading-color;
//   color: #fff;
// }
// .hr_div {
//   width: 80%;
//   height: 10px;
//   background-color: $heading-color;
//   margin: auto;
// }
// .sectionInfo {
//   text-align: center;
//   padding: 20px;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   height: 250px;
// }
// .content {
//   width: 80%;

//   margin: auto;
// }
// .learnMore_Btn {
//   width: 50%;
//   padding: 15px;
//   background-color: #fff;
//   border-radius: 7px;
//   border: 3px solid $heading-color;
//   font-size: 20px;
//   cursor: pointer;
//   transition: 2s;
// }
// .learnMore_Btn:hover {
//   background-color: #fff;
//   color: #000;
// }
