@import "../../styles/variable.scss";
.Footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  margin-top: 5%;
  background-color: rgba(117, 183, 158, 1);
}
.Footer_Sec_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.col_title {
  font-size: 28px;
  font-family: "Lora", serif;
  font-weight: 800;
}
.col2_details {
  font-size: 22px;
  font-weight: 800;
  font-family: "Abhaya Libre", serif;
  margin-top: 5%;
}
.col3_icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.col_4 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.col4Btn {
  width: 200px;
  padding: 2%;
  background-color: #000;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.linkBtn {
  text-decoration: none;
  color: #fff;
}
.col_4 {
}
@media only screen and (max-width: 480px) {
  .Footer {
    display: none;
  }
}
