@import url("https://fonts.googleapis.com/css2?family=Chango&family=Lora&family=Overpass&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Chango&family=Lora&family=Overpass&display=swap");

$heading-color: #00a9bf;
$primary-color: #e9fdff;
$secondary-color: #aeebf3;
$sign-out: #ff3939;
$input-fields: #484444;
$form-input-feild: #eae6e6;

// font-family: 'Abhaya Libre', serif;
// font-family: 'Lora', serif;
